* {
  box-sizing: border-box;
}

#box {
  background-color: grey;
  float: left;
  padding: 10px;
  border: 3px solid black;
  margin-top: 30px;
  overflow: auto;
  position: relative;
}
#content {
  font-family: Comic Sans MS;
  margin-top: 38px;
}

#margins {
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

#chicken {
  background-color: red;
  width: 40%;
  text-align: center;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 125%;
  position:absolute;
  top: 0px;
  right: 0px;
}

#beef {
  background-color: orange;
  width: 40%;
  text-align: center;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 125%;
  position:absolute;
  top: 0px;
  right: 0px;
}

#sushi {
  background-color: violet;
  width: 40%;
  text-align: center;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 125%;
  position:absolute;
  top: 0px;
  right: 0px;
}

h1 {
  font-size: 175%;
  margin-top: 24px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
